<?xml version="1.0"?>
<launch>
  <node pkg="ndt_fuser" type="ndt_fuser" name="laser_fuser_2d" output="screen">
        <param name="laser_topic" value="scan_front" />
        <param name="matchLaser" value="true" />
        <param name="init_pose_frame" value="base_footprint" />
        <param name="world_frame" value="map" />

        <param name="size_x_meters" value="10" />
        <param name="size_y_meters" value="10" />
        <param name="size_z_meters" value="0.8" />
        <param name="resolution" value="0.3" />
        <param name="laser_variance_z" value="0.02" />

        <param name="sensor_range" value="5.0" />
        <param name="min_laser_range" value="0.04" />

        <!-- Specific sensor offset parameters for the example file -->
        <param name="sensor_pose_x" value="0.3" />
        <param name="sensor_pose_y" value="0.0" />
        <param name="sensor_pose_z" value="-0.03" />
        <param name="sensor_pose_t" value="0.0" />

        <param name="pose_init_x" value="0.0" />
        <param name="pose_init_y" value="0.0" />
        <param name="pose_init_t" value="0.0" />

        <param name="map_directory" value="$(find mcr_default_env_config)/brsu-c025/" />
        <param name="map_name_prefix" value="brsu-c025" />

        <param name="beHMT" value="false" />
        <param name="useOdometry" value="true" />
        <param name="odometry_topic" value="odom" />
        <param name="visualize" value="true" />
    </node>
</launch>
